<div class="flex flex-col flex-auto min-w-0">


  <!-- Header -->
  <div class="relative pt-8 pb-28 px-4 sm:pt-10 sm:pb-15 sm:px-16 overflow-hidden bg-gray-800 dark">
    <!-- Background - @formatter:off -->
    <!-- Rings -->
    <svg class="absolute inset-0 pointer-events-none"
         viewBox="0 0 960 540" width="100%" height="100%" preserveAspectRatio="xMidYMax slice" xmlns="http://www.w3.org/2000/svg">
        <g class="text-gray-700 opacity-25" fill="none" stroke="currentColor" stroke-width="100">
            <circle r="234" cx="196" cy="23"></circle>
            <circle r="234" cx="790" cy="491"></circle>
        </g>
    </svg>
    <!-- @formatter:on -->
    <div class="z-10 relative flex flex-col items-center">
        <div class="mt-1  sm:text-5xl font-extrabold tracking-tight leading-tight text-center">
            Bugün sizlere nasıl yardımcı olabiliriz ?
        </div>
        <mat-form-field class="fuse-mat-no-subscript fuse-mat-rounded fuse-mat-bold w-full max-w-80 sm:max-w-120 mt-10 sm:mt-20">
            <input
                matInput
                [placeholder]="'Ne aramak istersiniz.'">
            <mat-icon
                matPrefix
                [svgIcon]="'heroicons_outline:search'"></mat-icon>
        </mat-form-field>
    </div>
</div>
<br>
<br>
<div>
    <button
    style="float: left"
    type="button"
    class="fuse-mat-flat-rounded text-on-warn-100"
    mat-flat-button
    style="color:white !important; margin-left: 5px;"
    [color]="'primary'"
    (click)="createHeader({id:'', head:''})">
    <mat-icon
        matPrefix
        class="white-icon icon-size-5"
        [svgIcon]="'heroicons_outline:plus'"
        [color]="'white'">
    </mat-icon>
    <span class="icon-size-2" style="color: #fff">Add</span>
    </button>

    <button
    class="fuse-mat-button-rounded text-on-warn-100"
    mat-icon-button
    [matTooltip]="['Yeni yardım bloğu oluşturmak için Add butonuna tıklayınız.']"
    [color]="'primary'">
    <mat-icon
        matPrefix
        class="hidden sm:flex icon-size-5"
        [svgIcon]="'heroicons_outline:question-mark-circle'">
    </mat-icon>
    </button>


    <!-- Main -->
    <div class="flex flex-col items-center p-6 sm:p-10">
        <div class="flex flex-col w-full max-w-4xl">
            <ng-container *ngFor="let faqCategory of faqCategories; trackBy: trackByFn">
                <div class="mt-12 sm:mt-16 text-3xl font-bold tracking-tight">
                    <button 
                        style="float: left;"
                        type="button"
                        class="fuse-mat-button-rounded text-on-warn-100"
                        mat-icon-button
                        [matTooltip]="'Delete'"
                        [color]="'warn'"
                        (click)="deleteDialogHeader(faqCategory)">
                        <mat-icon
                            matPrefix
                            class="hidden sm:flex icon-size-4"
                            [svgIcon]="'heroicons_outline:trash'">
                        </mat-icon>
                    </button>
                    <button 
                        style="float: left;" 
                        type="button"
                        class="fuse-mat-button-rounded"
                        (click)="saveHelpHeader(faqCategory)"
                        mat-icon-button
                        [matTooltip]="'Edit'"
                        [color]="'primary'">
                        <mat-icon
                            matPrefix 
                            class="hidden sm:flex icon-size-4" 
                            [svgIcon]="'heroicons_solid:pencil-alt'">
                        </mat-icon>
                    </button>
                    <button 
                        style="float: left;"
                        type="button"
                        class="fuse-mat-button-rounded text-on-warn-100"
                        mat-icon-button
                        [matTooltip]="'Create'"
                        [color]="'primary'"
                        (click)="createHeader({id:'', head:''})">
                        <mat-icon
                            matPrefix
                            class="hidden sm:flex icon-size-6"
                            [svgIcon]="'heroicons_outline:plus'">
                        </mat-icon>
                    </button>
                    {{faqCategory.head}}
                </div>
                <mat-accordion class="max-w-4xl mt-8">
                    <ng-container *ngFor="let faq of faqCategory.help_items; trackBy: trackByFn">
                        <mat-expansion-panel>
                            <mat-expansion-panel-header [collapsedHeight]="'56px'">
                                <mat-panel-title class="font-medium leading-tight" style="align-items: center">
                                    <div text-align: center>
                                        <button 
                                            style="float: left;"
                                            type="button"
                                            class="fuse-mat-button-rounded text-on-warn-100"
                                            mat-icon-button
                                            [matTooltip]="'Delete'"
                                            [color]="'warn'"
                                            (click)="deleteDialog(faq)">
                                            <mat-icon matPrefix
                                                class="hidden sm:flex icon-size-4"
                                                [svgIcon]="'heroicons_outline:trash'">
                                            </mat-icon>
                                        </button>
                                        <button 
                                            style="float: left;" 
                                            type="button"
                                            class="fuse-mat-button-rounded text-on-warn-100"
                                            (click)="openDialog(faq)"
                                            mat-icon-button
                                            [matTooltip]="'Edit'"
                                            [color]="'primary'">
                                            <mat-icon
                                                matPrefix 
                                                class="hidden sm:flex icon-size-4" 
                                                [svgIcon]="'heroicons_solid:pencil-alt'">
                                            </mat-icon>
                                        </button>
                                        <button 
                                            style="float: left;"
                                            type="button"
                                            class="fuse-mat-button-rounded text-on-warn-100"
                                            mat-icon-button
                                            [matTooltip]="'Create'"
                                            [color]="'primary'"
                                            (click)="createDialog({id:'', head:'', content:'', links:''})">
                                            <mat-icon
                                                matPrefix
                                                class="hidden sm:flex icon-size-6"
                                                [svgIcon]="'heroicons_outline:plus'">
                                            </mat-icon>
                                        </button>
                                    </div>
                                {{faq.head}}
                            </mat-panel-title>
                            </mat-expansion-panel-header>
                            {{faq.content}}
                            <ng-container *ngIf="faq.links" >
                                    <br/>
                                <a href="{{faq.links}}" target="_blank">{{faq.links}}</a>
                                <button 
                                    mat-icon-button
                                    class="ml-3 w-2 h-2 min-h-3" 
                                    (click)="link(faq.links)" 
                                    [color]="'warn'">
                                    <mat-icon 
                                        *ngIf="faq.links" 
                                        class="icon-size-4" 
                                        [svgIcon]="'heroicons_solid:link'">
                                    </mat-icon>
                                </button>
                                  
                                  
                            </ng-container>
                          
                        </mat-expansion-panel>
                    </ng-container>
                </mat-accordion>
            </ng-container>
        </div>
    </div>
</div>
</div>
