<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">
    <!-- Main -->
    <div class="flex-auto">
        <!-- Header -->
        <div
            class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
            <!-- Title -->
            <div class="text-4xl font-extrabold tracking-tight">Details</div>

            <div class="flex flex-shrink-0 items-center mt-6 mr-10 sm:mt-0 sm:ml-10">
                <button class="mr-5" mat-flat-button [color]="'primary'">
                    <mat-icon [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                    <span class="ml-2 mr-1">Remove</span>
                </button>
                <button class="" mat-flat-button [color]="'primary'"
                    [disabled]="vehicleForm.invalid || vehicleForm.pristine" (click)="addNewVehicle()">
                    <span class="ml-2 mr-1">Save</span>
                </button>
            </div>
        </div>
        <div class="relative mt-5 ml-5 pb-4 p-8 bg-card shadow overflow-hidden ng-pristine rounded-2xl">
            <form [formGroup]="vehicleForm">
                <mat-tab-group class="ml-2" mat-align-tabs="left">

                    <mat-tab label="Genel Bilgiler">
                        <div class="ml-2 w-1/3">
                            <div class="mt-6">
                                    <mat-form-field class="fuse-mat-no-subscript flex-auto w-full">
                                        <input tabindex="-1" type="text" placeholder="Customer"
                                            matInput formControlName="company"
                                            [matAutocomplete]="auto">
                                        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"
                                            (optionSelected)="selectCustomer($event)"
                                            [displayWith]="displayFn">
                                            <mat-option *ngFor="let option of filteredOptions | async"
                                                [value]="option">
                                                <ng-container>
                                                    {{option.full_name | titlecase}}
                                                </ng-container>
                                            </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                            </div>
                            <div class="mt-6">
                                <mat-form-field class="fuse-mat-no-subscript w-full">
                                    <mat-label>Vehicle Name</mat-label>
                                    <mat-icon matPrefix class="hidden sm:flex icon-size-5"
                                        [svgIcon]="'heroicons_outline:briefcase'"></mat-icon>
                                    <input matInput [formControlName]="'name'" [placeholder]="'Vehicle Name *'"
                                        [spellcheck]="false">
                                </mat-form-field>
                            </div>
                            <div class="flex items-center mt-6">
                                <div class="w-full">
                                <mat-form-field class="fuse-mat-no-subscript w-full">
                                    <mat-label>Company Type</mat-label>
                                    <mat-select placeholder="Types" [formControlName]="'type'">
                                        <mat-option *ngFor="let option of dataSourceTypes" [value]="option.description">
                                            <ng-container>
                                                {{option.description | titlecase}}
                                            </ng-container>
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="ml-5 w-full">
                                <mat-form-field class="fuse-mat-no-subscript w-full">
                                    <mat-label>Registered Date</mat-label>
                                    <input matInput [matDatepicker]="Datepicker" [formControlName]="'registered_date'"
                                        [placeholder]="'registered date'">
                                    <mat-datepicker-toggle matSuffix [for]="Datepicker">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #Datepicker></mat-datepicker>
                                </mat-form-field>
                            </div>
                            </div>
                        </div>
                    </mat-tab>

                    <mat-tab label="Evrak Listesi">Content 3</mat-tab>

                    <mat-tab label="Onay Süreçleri">Content 3</mat-tab>
                </mat-tab-group>
            </form>
        </div>
    </div>
</div>