<div class="grid justify-items-start mt-13 mb-12 w-full">

    <div>
        <mat-accordion class="example-headers-align" multi>
            <mat-expansion-panel *ngFor="let item of data">
                <mat-expansion-panel-header (click)="loadGroup(item)">
                    <mat-panel-title>
                        {{item.description}}
                    </mat-panel-title>
                    <mat-panel-description>


                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div *ngIf="isLoading;else loading">
                    <table>
                        <thead>
                            <tr>
                                <th scope="col">Açıklama</th>
                                <th scope="col">Kaptan Evrak</th>

                                <th scope="col">Acente Evrak</th>

                                <th scope="col"> C Loading Evrak</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="item.process_sub_groups.length">

                            <tr *ngFor="let rowGroup of item.process_sub_groups">
                                <td>
                                    {{rowGroup.description}}
                                </td>
                                <td>
                                    <mat-form-field>
                                        <input type="input" matInput [matDatepicker]="captain_process_date"
                                            (ngModelChange)="editRowCaptain($event,rowGroup)"
                                            [(ngModel)]="rowGroup.captain_process_date">
                                        <mat-datepicker-toggle matSuffix [for]="captain_process_date">
                                        </mat-datepicker-toggle>
                                        <mat-datepicker #captain_process_date></mat-datepicker>
                                    </mat-form-field>
                                </td>
                                <td>
                                    <input type="file" class="file-input"
                                        (change)="onFileSelected($event,'captain_media_path',rowGroup)"
                                        #fileUploadCaptain>

                                    <div class="file-upload">

                                        <button mat-mini-fab color="primary" class="upload-btn icon-size-7"
                                        *ngIf="rowGroup.captain_media_path"
                                            (click)="openNewWindows(rowGroup.captain_media_path)">
                                            <mat-icon>download</mat-icon>
                                        </button>
                                        <button mat-mini-fab color="primary" class="upload-btn icon-size-7"
                                            (click)="fileUploadCaptain.click()">
                                            <mat-icon>attach_file</mat-icon>
                                        </button>
                                    </div>
                                </td>
                                <td>
                                    <mat-form-field>
                                        <input type="input" matInput [matDatepicker]="agency_process_date"
                                            (ngModelChange)="editRowAg($event,rowGroup)"
                                            [(ngModel)]="rowGroup.agency_process_date" (keyup.enter)="editRow(row)">
                                        <mat-datepicker-toggle matSuffix [for]="agency_process_date">
                                        </mat-datepicker-toggle>
                                        <mat-datepicker #agency_process_date></mat-datepicker>
                                    </mat-form-field>

                                </td>
                                <td style="margin-top: -10!important;align-items: center;">
                                    <input type="file" class="file-input"
                                        (change)="onFileSelected($event,'agency_media_path',rowGroup)" #fileUpload>

                                    <div class="file-upload">
                                        <button mat-mini-fab color="primary" class="upload-btn icon-size-7"
                                            *ngIf="rowGroup.agency_media_path"
                                            (click)="openNewWindows(rowGroup.agency_media_path)">
                                            <mat-icon>download</mat-icon>
                                        </button> 
                                        <button mat-mini-fab color="primary" class="upload-btn icon-size-7"
                                            (click)="fileUpload.click()">
                                            <mat-icon>attach_file</mat-icon>
                                        </button>
                                    </div>
                                </td>
                                <td>
                                    <mat-form-field>
                                        <input type="input" matInput [matDatepicker]="lm_process_date" #lm_date
                                            (ngModelChange)="editRowLm($event,rowGroup)"
                                            [(ngModel)]="rowGroup.lm_process_date"
                                            (keyup.enter)="editRow(row,$lm_date)">
                                        <mat-datepicker-toggle matSuffix [for]="lm_process_date">
                                        </mat-datepicker-toggle>
                                        <mat-datepicker #lm_process_date></mat-datepicker>
                                    </mat-form-field>
                                </td>
                                <td>
                                    <input type="file" class="file-input"
                                        (change)="onFileSelected($event,'lm_media_path',rowGroup)" #fileUploadLm>
                                    <div class="file-upload">
                                        <button mat-mini-fab color="primary" class="upload-btn icon-size-7"
                                        *ngIf="rowGroup.lm_media_path"
                                        (click)="openNewWindows(rowGroup.lm_media_path)">
                                        <mat-icon>download</mat-icon>
                                    </button> 
                                        <button mat-mini-fab color="primary" class="upload-btn icon-size-7"
                                            (click)="fileUploadLm.click()">
                                            <mat-icon>attach_file</mat-icon>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <ng-template #loading>Loading...</ng-template>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>