<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">

    <mat-drawer-container
        class="flex-auto h-full bg-card dark:bg-transparent"
        (backdropClick)="onBackdropClicked()">

        <!-- Drawer -->
        <mat-drawer
            class="w-full md:w-160 dark:bg-gray-900"
            [mode]="drawerMode"
            [opened]="false"
            [position]="'end'"
            [disableClose]="true"
            #matDrawer>
            <router-outlet></router-outlet>
        </mat-drawer>

        <mat-drawer-content class="flex flex-col">

            <!-- Main -->
            <div class="flex-auto">
                <!-- Header -->
                <div class="flex flex-col sm:flex-row md:flex-col flex-auto justify-between py-8 px-6 md:px-8 border-b">
                    <!-- Title -->
                    <div>
                        <div class="text-4xl font-extrabold tracking-tight leading-none">Customers</div>
                        <div class="ml-0.5 font-medium text-secondary">
                            <ng-container *ngIf="customersCount > 0">
                             
                            </ng-container>
                            {{customersCount | i18nPlural: {
                            '=0'   : 'No customers',
                            '=1'   : 'customer',
                            'other': 'customers'
                        } }}
                        </div>
                    </div>

                    <!-- Main actions -->
                    <div class="flex items-center mt-4 sm:mt-0 md:mt-4">
                        <!-- Search -->
                        <div class="flex-auto">
                            <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript w-full min-w-50">
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_solid:search'"></mat-icon>
                                <input
                                    matInput
                                    [formControl]="searchInputControl"
                                    [autocomplete]="'off'"
                                    [placeholder]="'Search customers'">
                            </mat-form-field>
                        </div>
                        <!-- Add customer button -->
                        <button
                            class="ml-4"
                            mat-flat-button
                            [color]="'primary'"
                            (click)="createCustomer()">
                            <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                            <span class="ml-2 mr-1">Add</span>
                        </button>
                    </div>
                </div>

                <!-- Customers list -->
                <div class="relative">
                    <ng-container *ngIf="customers$ | async as customers">
                        <ng-container *ngIf="customers.length; else noCustomers">
                            <ng-container *ngFor="let customer of customers; let i = index; trackBy: trackByFn">
                               
                                <a
                                    class="z-20 flex items-center px-6 py-4 md:px-8 cursor-pointer border-b"
                                    [ngClass]="{'hover:bg-gray-100 dark:hover:bg-hover': !selectedCustomer || selectedCustomer.id !== customer.id,
                                                'bg-primary-50 dark:bg-hover': selectedCustomer && selectedCustomer.id === customer.id}"
                                    [routerLink]="['./', customer.id]">
                                    <div class="flex flex-0 items-center justify-center w-10 h-10 rounded-full overflow-hidden">
                                        <ng-container *ngIf="customer.avatar">
                                            <img
                                                class="object-cover w-full h-full"
                                                [src]="customer.avatar"
                                                alt="Customer avatar"/>
                                        </ng-container>
                                        <ng-container *ngIf="!customer.avatar">
                                            <div class="flex items-center justify-center w-full h-full rounded-full text-lg uppercase bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200">
                                                {{customer.card_name}}
                                            </div>
                                        </ng-container>
                                    </div>
                                    <div class="min-w-0 ml-4">
                                        <div class="font-medium leading-5 truncate">  {{customer.card_name | uppercase }} </div>
                                        <div class="leading-5 truncate text-secondary">{{customer.phone}} - {{customer.email}}</div>
                                    </div>
                                </a>
                            </ng-container>
                        </ng-container>
                    </ng-container>

                    <!-- No customers -->
                    <ng-template #noCustomers>
                        <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">There are no customers!</div>
                    </ng-template>

                </div>

            </div>

        </mat-drawer-content>

    </mat-drawer-container>

</div>
