<div mat-dialog-content>
   
        <form style="width: 450px!important" [formGroup]="offerForm">
           
            <div class="flex flex-col gt-xs:flex-row">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>Offer Date</mat-label>
                    <input matInput [matDatepicker]="Datepicker" [formControlName]="'offer_date'"
                        [placeholder]="'Offer Date'">
                    <mat-datepicker-toggle matSuffix [for]="Datepicker">
                    </mat-datepicker-toggle>
                    <mat-datepicker #Datepicker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="flex flex-col gt-xs:flex-row mt-4">
                <mat-form-field class="flex-auto gt-xs:pr-3">
                    <mat-label>Payment Type</mat-label>
                    <mat-select [formControlName]="'payment_type'">
                        <mat-option *ngFor="let option of dataSourcePaymentTypes" [value]="option.description">
                            <ng-container>
                                {{option.description | titlecase}}
                            </ng-container>
                        </mat-option>
                    </mat-select>
                    <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:filter'">
                    </mat-icon>
                </mat-form-field>
            </div>

            <div class="flex flex-col gt-xs:flex-row">
                <mat-form-field class="flex-auto">
                    <mat-label>Price</mat-label>
                    <input type="text" placeholder="Price" matInput [formControlName]="'price'">
                    <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:cash'"></mat-icon>
                    <span matSuffix>$</span>
                </mat-form-field>
            </div>
            <div class="flex">
                <button
                class="mt-4"
                mat-flat-button
                [color]="'warn'"
                (click)="closeDialog()">
                Close
            </button>
                <button
                class="mt-4 ml-2"
                mat-flat-button
                [color]="'primary'"
                (click)="saveOffer()">
                Save
            </button>
            </div>

        </form>
     
</div>