<div mat-dialog-content>
  <mat-form-field style="width: 100%; display: block;visibility: hidden;  height: 0;width: 0;" appearance="fill">
   
    <input  matInput [(ngModel)]="data.id">
  </mat-form-field>

  <mat-form-field style="width: 100%;" appearance="fill">
    <mat-label>Head</mat-label>
    <input matInput [(ngModel)]="data.head">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  
  <button mat-button (click)="dialogHeaderUpdate()">Update</button>
</div>