<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden" *transloco="let t;">

  <mat-drawer-container class="flex-auto h-full bg-card dark:bg-transparent" (backdropClick)="onBackdropClicked()">

    <!-- Drawer -->
    <mat-drawer class="w-full md:w-160 dark:bg-gray-900" [mode]="drawerMode" [opened]="false" [position]="'end'"
      [disableClose]="true" #matDrawer>
      <router-outlet></router-outlet>
    </mat-drawer>

    <mat-drawer-content class="flex flex-col">

      <!-- Main -->
      <div class="flex-auto">
        <!-- Header -->
        <div
          class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
          <!-- Title -->
          <div>
            <div class="text-4xl font-extrabold tracking-tight leading-none">{{ t('proposals.title') }}</div>
            <div class="ml-0.5 font-medium text-secondary">
              {{ t('text.total.record') }}: {{totalSize$}}
            </div>
          </div>

          <!-- Main actions -->
          <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <!-- Search  -->
            <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-50">
              <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:search'"></mat-icon>
              <input matInput (keyup)="applyFilter($event.target.value)" [autocomplete]="'off'" placeholder="{{ t('input.search') }}">
            </mat-form-field>

            <button class="ml-4" mat-flat-button [color]="'primary'" (click)="newProposal()">
              <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
              <span class="ml-2 mr-1">{{ t('button.add') }}</span>
            </button>
          </div>
        </div>

        <!-- Customers list -->
        <div class="relative">
          <table class="w-full min-w-320 table-fixed bg-transparent" [ngClass]="{ 'pointer-events-none': isLoading }"
            mat-table matSort [matSortDisableClear]="true" [matSortDirection]="'asc'"
            [multiTemplateDataRows]="true" [dataSource]="proposals$" [trackBy]="trackByFn">

            <ng-container matColumnDef="name">
              <th class="bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell *matHeaderCellDef mat-sort-header
                disableClear>
                {{ t('proposals.companyName') }}
              </th>
              <td class="pr-8 truncate" mat-cell *matCellDef="let row">
                {{ row.company?.name }}
              </td>
            </ng-container>

            <ng-container matColumnDef="type">
              <th class="bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell *matHeaderCellDef mat-sort-header
                disableClear>
                {{ t('proposals.type') }}
              </th>
              <td class="pr-8 truncate" mat-cell *matCellDef="let row">
                <div class="flex items-center justify-between">
                  <ng-container>
                    <div *ngIf="row.type==='Alış'"
                      class="py-0.5 px-3 rounded-full text-sm font-semibold text-amber-800 bg-amber-100 dark:text-amber-50 dark:bg-amber-500">
                      {{ row.type }}
                    </div>
                    <div *ngIf="row.type==='Satış'"
                      class="py-0.5 px-3 rounded-full text-sm font-semibold text-blue-800 bg-blue-100  dark:text-blue-50 dark:bg-blue-500">
                      {{ row.type }}
                    </div>
                  </ng-container>
                </div>


              </td>
            </ng-container>
            <ng-container matColumnDef="publish_date">
              <th class="bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell *matHeaderCellDef mat-sort-header
                disableClear>
                {{ t('proposals.publishDate') }}
              </th>
              <td class="pr-8 truncate" mat-cell *matCellDef="let row">
                {{ row.publish_date | date:'dd/MM/yyyy' }}
              </td>
            </ng-container>
            <ng-container matColumnDef="last_offer_date">
              <th class="bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell *matHeaderCellDef mat-sort-header
                disableClear>
                {{ t('proposals.offerDate') }}
              </th>
              <td class="pr-8 truncate" mat-cell *matCellDef="let row">
                {{ row.last_offer_date | date:'dd/MM/yyyy' }}
              </td>
            </ng-container>
            <ng-container matColumnDef="product_detail">
              <th class="bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell *matHeaderCellDef mat-sort-header
                disableClear>
                {{ t('proposals.productDetail') }}
              </th>
              <td class="pr-8 truncate" mat-cell *matCellDef="let row">
                {{ row.product_detail }}
              </td>
            </ng-container>
            <ng-container matColumnDef="status">
              <th class="bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell *matHeaderCellDef mat-sort-header
                disableClear>
                {{ t('proposals.status') }}
              </th>
              <td class="pr-8 truncate" mat-cell *matCellDef="let row">
                <div class="flex items-center justify-between">

                  <ng-container>
                    <div *ngIf="row.status==='OK'"
                      class="py-0.5 px-3 rounded-full text-sm font-semibold text-blue-800 bg-blue-100 dark:text-blue-50 dark:bg-blue-500">
                      {{ row.status }}
                    </div>
                    <div *ngIf="row.status==='NOT OK'"
                      class="py-0.5 px-3 rounded-full text-sm font-semibold text-pink-800 bg-pink-100 dark:text-pink-50 dark:bg-pink-500">
                      {{ row.status }}
                    </div>
                  </ng-container>

                  <div class="flex items-center">

                    <mat-icon *ngIf="row.status==='OK'" class="icon-size-5 text-green-600"
                      [svgIcon]="'heroicons_solid:badge-check'" [matTooltip]="'Teklif tamamlanmıştır'"></mat-icon>

                  </div>
                </div>

              </td>
            </ng-container>
            <ng-container matColumnDef="product">
              <th class="bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell *matHeaderCellDef mat-sort-header
                disableClear>
                {{ t('proposals.product') }}
              </th>
              <td class="pr-8 truncate" mat-cell *matCellDef="let row">
                <div class="flex items-center justify-between">
                  <div
                    class="py-0.5 px-3 rounded-full text-sm font-semibold text-pink-800 bg-pink-100 dark:text-pink-50 dark:bg-pink-500">
                    {{ row.product?.code }}- {{ row.product?.name }}
                  </div>
                </div>
              </td>
            </ng-container>
            <ng-container matColumnDef="detail">
              <th class="bg-gray-50 dark:bg-black w-60 dark:bg-opacity-5" mat-header-cell *matHeaderCellDef mat-sort-header
                disableClear>
                #
              </th>
              <td class="pr-8 truncate" mat-cell *matCellDef="let row">
                <button class="fuse-mat-button-rounded" (click)="openProposal(row)"  mat-icon-button [color]="'primary'">
                  <mat-icon matPrefix class="hidden sm:flex icon-size-5"
                  [svgIcon]="'heroicons_outline:pencil-alt'" ></mat-icon> 
                </button>
                <button class="fuse-mat-button-rounded" (click)="openProcess(row)" mat-icon-button [color]="'primary'">
                  <mat-icon matPrefix class="hidden sm:flex icon-size-5"
                  [svgIcon]="'heroicons_outline:archive'" ></mat-icon> 
                </button>
                <button class="fuse-mat-button-rounded" (click)="openProposalOffer(row)" mat-icon-button [color]="'primary'">
                  <mat-icon matPrefix class="hidden sm:flex icon-size-5"
                  [svgIcon]="'heroicons_outline:cash'" ></mat-icon> 
                </button>
                <button class="fuse-mat-button-rounded ml-1" (click)="openOfferList(row)" mat-icon-button [color]="'primary'">
                  <mat-icon matPrefix class="hidden sm:flex icon-size-5"
                  [svgIcon]="'heroicons_outline:search'"></mat-icon> 
                </button>
                <button class="fuse-mat-button-rounded text-on-warn-100 ml-1" (click)="deleteProposal(row)"
                  mat-icon-button [color]="'warn'">
                  <mat-icon matPrefix class="hidden sm:flex icon-size-5" [svgIcon]="'heroicons_outline:trash'">
                  </mat-icon>
                </button>
              </td>
            </ng-container>

            <tr class="shadow" mat-header-row *matHeaderRowDef="proposalsTableColumns; sticky: true"></tr>
            <tr class="h-18 hover:bg-gray-100 dark:hover:bg-hover" 
              *matRowDef="let i = dataIndex; let product; columns: proposalsTableColumns"
              [class]="setStyle(i)" 
              mat-row></tr>

          </table>
          <ng-template #noProposals>
            <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">{{ t('proposals.noProposals.message') }}
            </div>
          </ng-template>
          
        </div>
      </div>
      
    </mat-drawer-content>
    
  </mat-drawer-container>
  <mat-paginator
  #paginator
  class=" sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
  [ngClass]="{'pointer-events-none': isLoading}"
  [length]="totalSize$"
  (page)="getServerData($event)"
  [pageIndex]="currentPage" 
  [pageSizeOptions]="[5, 10, 25, 100]"
  [showFirstLastButtons]="true"></mat-paginator>
</div>