<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden" isLoading *transloco="let t;">
    <!-- Main -->
    <div class="flex-auto">
        <!-- Header -->
        <div
            class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
            <!-- Title -->
            <div class="text-4xl font-extrabold tracking-tight">{{ t('text.details') }}</div>

            <div class="flex flex-shrink-0 items-center mt-6 mr-10 sm:mt-0 sm:ml-10">
                <button class="mr-5" mat-flat-button [color]="'primary'" (click)="deleteCompany()">
                    <mat-icon [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                    <span class="ml-2 mr-1">{{ t('button.delete') }}</span>
                </button>
                <button class="" mat-flat-button [color]="'primary'"
                    [disabled]="customerForm.invalid || customerForm.pristine" (click)="addNewCompany()">
                    <span class="ml-2 mr-1">{{ t('button.save') }}</span>
                </button>
            </div>
        </div>
        <div class="relative mt-5 ml-5 pb-4 p-8 mr-5 bg-card shadow overflow-hidden ng-pristine rounded-2xl">
            <form [formGroup]="customerForm">

                <mat-tab-group mat-align-tabs="left">

                    <mat-tab label="{{ t('company.details.tab.generalInfo') }}">
                        <div class="flex items-center mt-6">
                            <div class="w-full">
                                <mat-form-field class="fuse-mat-no-subscript w-full">
                                    <mat-label>{{ t('company.details.tab.generalInfo.companyFullName') }}</mat-label>
                                    <mat-icon class="green-icon" matPrefix class="hidden sm:flex icon-size-5"
                                        [svgIcon]="'heroicons_outline:briefcase'"></mat-icon>
                                    <input matInput [formControlName]="'full_name'"
                                        placeholder="{{ t('company.details.tab.generalInfo.companyFullName') }} *" [spellcheck]="false">
                                </mat-form-field>
                            </div>
                            <div class="ml-5 w-full">
                                <mat-form-field class="fuse-mat-no-subscript w-full">
                                    <mat-label>{{ t('company.details.tab.generalInfo.companyName') }}</mat-label>
                                    <mat-icon class="green-icon" matPrefix class="hidden sm:flex icon-size-5"
                                        [svgIcon]="'heroicons_outline:briefcase'"></mat-icon>
                                    <input matInput [formControlName]="'name'" placeholder="{{ t('company.details.tab.generalInfo.companyName') }} *"
                                        [spellcheck]="false">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="flex items-center mt-6">
                            <div class="w-full">
                                <mat-form-field class="fuse-mat-no-subscript w-full">
                                    <mat-label>{{ t('company.details.tab.generalInfo.companyType') }}</mat-label>
                                    <mat-select placeholder="Types" [formControlName]="'types'" multiple>
                                        <mat-option *ngFor="let option of dataSourceTypes" [value]="option.description">
                                            <ng-container>
                                                {{option.description | titlecase}}
                                            </ng-container>
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="ml-5 w-full">
                                <mat-form-field class="fuse-mat-no-subscript w-full">
                                    <mat-label>{{ t('company.details.tab.generalInfo.registeredDate') }}</mat-label>
                                    <input matInput [matDatepicker]="Datepicker" [formControlName]="'registered_date'"
                                        [placeholder]="'registered date'">
                                    <mat-datepicker-toggle matSuffix [for]="Datepicker">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #Datepicker></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="flex items-center mt-6">
                            <div class="w-full">
                                <mat-form-field class="fuse-mat-no-subscript w-full">
                                    <mat-label>{{ t('company.details.tab.generalInfo.phone') }}</mat-label>
                                    <mat-icon color="primary" matPrefix class="hidden sm:flex icon-size-5"
                                        [svgIcon]="'heroicons_outline:phone'"></mat-icon>
                                    <input matInput [formControlName]="'phone'" placeholder="{{ t('company.details.tab.generalInfo.phone') }}"
                                        [spellcheck]="false">
                                </mat-form-field>
                            </div>
                            <div class="ml-5 w-full">
                                <mat-form-field class="fuse-mat-no-subscript w-full">
                                    <mat-label>{{ t('company.details.tab.generalInfo.email') }}</mat-label>
                                    <mat-icon color="accent" matPrefix class="hidden sm:flex icon-size-5"
                                        [svgIcon]="'heroicons_outline:mail'"></mat-icon>
                                    <input matInput [formControlName]="'email'" placeholder="{{ t('company.details.tab.generalInfo.email') }}"
                                        [spellcheck]="false">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="flex items-center mt-6">
                            <mat-form-field class="fuse-mat-no-subscript w-full">
                                <mat-label>{{ t('company.details.tab.generalInfo.website') }}</mat-label>
                                <mat-icon matPrefix class="hidden sm:flex icon-size-5"
                                    [svgIcon]="'heroicons_outline:globe-alt'"></mat-icon>
                                <input matInput [formControlName]="'website'" placeholder="{{ t('company.details.tab.generalInfo.website') }}"
                                    [spellcheck]="false">
                            </mat-form-field>
                        </div>
                        <div class="flex items-center mt-6">
                            <div class="w-full">
                                <mat-form-field class="fuse-mat-no-subscript w-full">
                                    <mat-label>{{ t('company.details.tab.generalInfo.taxOffice') }}</mat-label>
                                    <mat-icon color="primary" matPrefix class="hidden sm:flex icon-size-5"
                                        [svgIcon]="'heroicons_outline:receipt-tax'"></mat-icon>
                                    <input matInput [formControlName]="'tax_office'" placeholder="{{ t('company.details.tab.generalInfo.taxOffice') }}"
                                        [spellcheck]="false">
                                </mat-form-field>
                            </div>
                            <div class="ml-5 w-full">
                                <mat-form-field class="fuse-mat-no-subscript w-full">
                                    <mat-label>{{ t('company.details.tab.generalInfo.taxNumber') }}</mat-label>
                                    <mat-icon color="accent" matPrefix class="hidden sm:flex icon-size-5"
                                        [svgIcon]="'heroicons_outline:receipt-tax'"></mat-icon>
                                    <input matInput [formControlName]="'tax_number'" placeholder="{{ t('company.details.tab.generalInfo.taxNumber') }}"
                                        [spellcheck]="false">
                                </mat-form-field>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="{{ t('company.details.tab.address') }}">
                        <div class="flex items w-full" *ngIf="isLoadAddress">
                            <div class="w-full ml-2">
                                <div class="w-full">
                                    <div class="flex flex-shrink-0 items-center mt-6 mr-10 sm:mt-0 sm:ml-10">
                                    <button class="mr-5"   mat-flat-button [color]="'primary'" (click)="newAddress()">
                                        {{ t('company.details.tab.address.newAddress') }}
                                    </button>
                                     </div>
                                    <div class="mt-5">
                                        <ng-container >
                                            <mat-accordion class="fuse-mat-no-subscript mt-1" >
                                                <mat-expansion-panel>
                                                    <mat-expansion-panel-header>
                                                      <mat-panel-title>
                                                        {{ t('company.details.tab.address.newAddress') }}
                                                      </mat-panel-title>
                                                      <mat-panel-description>
                                                       
                                                        <mat-icon>account_circle</mat-icon>
                                                      </mat-panel-description>
                                                    </mat-expansion-panel-header>
                                                
                                                    <form [formGroup]="addressesForm">
                                                        <div class="flex items-center" *ngIf="formStatus">
                                                            <div class="ml-2 mr-5 w-1/3">
                                                                <div class="flex items-center mt-6">
                                                                    <div class="w-full">
                                                                        <mat-form-field
                                                                            class="fuse-mat-no-subscript w-full">
                                                                            <mat-label>{{ t('company.details.tab.address.title') }}</mat-label>
                                                                            <input matInput
                                                                                [formControlName]="'title'"
                                                                                placeholder="{{ t('company.details.tab.address.title') }}"
                                                                                [spellcheck]="false">
                                                                        </mat-form-field>
                                                                    </div>
                                                                    <div class="ml-5 w-full">
                                                                        <mat-form-field
                                                                            class="fuse-mat-no-subscript w-full">
                                                                            <mat-label>{{ t('company.details.tab.address.type') }}</mat-label>
                                                                            <input matInput
                                                                                [formControlName]="'type'"
                                                                                placeholder="{{ t('company.details.tab.address.type') }}"
                                                                                [spellcheck]="false">
                                                                        </mat-form-field>
                                                                    </div>
                                                                </div>
                                                                <div class="mt-6">
                                                                    <mat-form-field
                                                                        class="fuse-mat-no-subscript w-full">
                                                                        <mat-label>{{ t('company.details.tab.address.description') }}</mat-label>
                                                                        <textarea matInput
                                                                            [formControlName]="'description'"
                                                                            placeholder="{{ t('company.details.tab.address.description') }}"
                                                                            [spellcheck]="false"></textarea>
                                                                    </mat-form-field>
                                                                </div>
                                                                <div class="flex items-center mt-6">
                                                                    <div class="w-full">
                                                                        <mat-form-field
                                                                            class="fuse-mat-no-subscript w-full">
                                                                            <mat-label>{{ t('company.details.tab.address.latitude') }}</mat-label>
                                                                            <input matInput
                                                                                [formControlName]="'lat'"
                                                                                placeholder="{{ t('company.details.tab.address.latitude') }}"
                                                                                [spellcheck]="false">
                                                                        </mat-form-field>
                                                                    </div>
                                                                    <div class="ml-5 w-full">
                                                                        <mat-form-field
                                                                            class="fuse-mat-no-subscript w-full">
                                                                            <mat-label>{{ t('company.details.tab.address.longitude') }}</mat-label>
                                                                            <input matInput
                                                                                [formControlName]="'long'"
                                                                                placeholder="{{ t('company.details.tab.address.longitude') }}"
                                                                                [spellcheck]="false">
                                                                        </mat-form-field>
                                                                    </div>
                                                                </div>
                                                                <div class="mt-5">
                                                                    <button type="button" mat-flat-button
                                                                        [color]="'primary'"
                                                                        (click)="createAddress()">
                                                                        {{ t('button.save') }}
                                                                    </button>
                                                                </div>
                                                            </div>
                                                            <div class="w-2/3 mt-5">
                                                                <div class="my-google-map">
                                                                    <google-map [width]="null" [height]="null"
                                                                        [center]="center" [zoom]="zoom"
                                                                        (mapClick)="addMarker($event)">
                                                                        <map-marker [position]="newAddressItem.position"
                                                                            [options]="markerOptions"></map-marker>

                                                                    </google-map>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                
                                                  </mat-expansion-panel>
                                                <mat-expansion-panel *ngFor="let item of addressList" (opened)="item.expanded"
                                                    [expanded]="item.expanded">
                                                    <mat-expansion-panel-header>
                                                        <mat-panel-title class="font-bold">{{item.title}}
                                                        </mat-panel-title>
                                                        <mat-panel-description>

                                                            <button type="button"
                                                                class="fuse-mat-button-rounded text-on-warn-100"
                                                                mat-icon-button [color]="'warn'"
                                                                (click)="deleteAddress(item)">
                                                                <mat-icon matPrefix class="hidden sm:flex icon-size-5"
                                                                    [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                                                            </button>

                                                        </mat-panel-description>
                                                    </mat-expansion-panel-header>
                                               
                                                    <ng-container *ngIf="!item.isNew">
                                                        <p>{{ t('company.details.tab.address.description') }}: {{item.description}}</p>
                                                        <p>{{ t('company.details.tab.address.type') }}: {{item.type}}</p>
                                                        <div class="w-full mt-5">
                                                            <div class="my-google-map">
                                                                <google-map [width]="null" [height]="null"
                                                                    [center]="center" [zoom]="zoom"
                                                                    (mapClick)="addMarker($event)">
                                                                    <map-marker [position]="item.position"
                                                                        [options]="markerOptions"></map-marker>

                                                                </google-map>

                                                            </div>

                                                        </div>
                                                    </ng-container>
                                                </mat-expansion-panel>
                                            </mat-accordion>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="{{ t('company.details.tab.documentList') }}">
                        <div *ngFor="let item of  dataSourceDocs">
                            {{item.description}}
                            <form [formGroup]="demoForm">
                                <file-upload formControlName="files" [multiple]="multiple" [animation]="animation">
                                </file-upload>
                                <input type="hidden" formControlName="label" [ngModel]="item.description">
                            </form>

                        </div>

                        <button mat-flat-button [color]="'primary'" (click)="upload()">
                            {{ t('company.details.tab.documentList.button.upload') }}
                        </button>
                    </mat-tab>

                    <mat-tab label="{{ t('company.details.tab.approvalProcesses') }}">Content 3</mat-tab>
                </mat-tab-group>
            </form>
        </div>
    </div>
</div>