.my-google-map{
    .map-container{
      width: 100%;
      height: 300px;
    }
}
.mat-expansion-panel-header-description, .mat-expansion-panel-header-title {
  flex-basis: 0;
}
.mat-expansion-panel-header-description {
  display: flex;
  justify-content: flex-end;
} 

.green-icon {
  color: green!important;
} /* Styles for tab labels */
.mat-tab-label {
    min-width: 25px !important;
    padding: 5px;
    background-color: transparent;
    color: red;
    font-weight: 700;
}

/* Styles for the active tab label */
.mat-tab-label.mat-tab-label-active {
    min-width: 25px !important;
    padding: 5px;
    background-color: transparent;
    color: red;
    font-weight: 700;
}

/* Styles for the ink bar */
.mat-ink-bar {
    background-color: green;
}

.fuse-mat-rounded .mat-tab-group .mat-tab-header .mat-tab-label-container .mat-tab-list .mat-tab-labels .mat-tab-label {
  border-radius: 1px !important;
  background-color: rgba(219,234,254,var(--tw-bg-opacity))!important;
}

.zebra {
  background-color: rgba(0, 0, 0, 0.05)!important;
  cursor: pointer;
}
.zebraActive {
  background-color: rgba(111, 220, 15, 0.598)!important;
  cursor: pointer;
}

.company-name .mat-form-field.mat-form-field-appearance-fill .mat-form-field-wrapper .mat-form-field-flex {
  --tw-bg-opacity: 1 !important;
  background-color: rgba(219,234,254,var(--tw-bg-opacity))!important;
}

.controls {
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  margin-top: 15px;
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

  #pac-input:focus {
      border-color: #4d90fe;
  }

.pac-container {
  font-family: Roboto;
}
