<div mat-dialog-content>
  <mat-form-field style="width: 100%;" appearance="fill">
    <mat-label>Head</mat-label>
    <input matInput [(ngModel)]="data.head">
  </mat-form-field>
</div>
<div>
  <mat-form-field style="width: 100%;" appearance="fill">
    <mat-label>Content</mat-label>
    <input matInput [(ngModel)]="data.content">
  </mat-form-field>
</div>
<div>
  <mat-form-field style="width: 100%;" appearance="fill">
    <mat-label>Link</mat-label>
    <input matInput [(ngModel)]="data.links">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  
  <button mat-button (click)="dialogUpdate()">Update</button>
</div>