<div class="absolute inset-0 flex flex-col min-w-0" *transloco="let t;">
    <mat-drawer-container class="flex-auto h-full bg-card dark:bg-transparent" (backdropClick)="onBackdropClicked()">

        <!-- Drawer -->
        <mat-drawer class="w-full md:w-160 dark:bg-gray-900" [mode]="drawerMode" [opened]="false" [position]="'end'"
            [disableClose]="true" #matDrawer>
            <router-outlet></router-outlet>
        </mat-drawer>

        <mat-drawer-content class="flex flex-col">
            <!-- Main -->
            <div class="flex-auto">
                <!-- Header -->
                <div
                    class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
                    <!-- Title -->
                    <div class="text-4xl font-extrabold tracking-tight">
                        <button class="fuse-mat-button-rounded mt-2" [routerLink]="['/apps/group']" mat-icon-button
                        [color]="'primary'">
                        <mat-icon matPrefix class="hidden sm:flex icon-size-6" [svgIcon]="'heroicons_outline:arrow-left'">
                        </mat-icon>
                      </button>
                        {{ t('text.details') }}
                    </div>

                    <div class="flex flex-shrink-0 items-center mt-6 mr-10 sm:mt-0 sm:ml-10">
                        <button class="mr-5" mat-flat-button [color]="'primary'" (click)="deleteGroup()">
                            <mat-icon [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                            <span class="ml-2 mr-1">{{ t('button.delete') }}</span>
                        </button>
                        <button class="" mat-flat-button [color]="'primary'" (click)="addGroup()">
                            <span class="ml-2 mr-1">{{ t('button.save') }}</span>
                        </button>
                    </div>
                </div>
                <div class="relative mt-5 ml-5 pb-4 p-8 mr-5 bg-card shadow overflow-hidden ng-pristine rounded-2xl">
                    <form [formGroup]="groupForm">
                        <div class="flex items">
                            <div class="w-1/3">
                                <div class="mt-6">
                                    <mat-form-field class="fuse-mat-no-subscript w-full">
                                        <mat-label>{{ t('group.details.groupName') }}</mat-label>
                                        <input matInput [formControlName]="'description'"
                                            placeholder="{{ t('group.details.groupName') }}" [spellcheck]="false">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="mt-6 w-2/3">
                            <form [formGroup]="formSubGroup">

                                <div class="flex-auto ml-12  mt-8 gt-xs:pl-3">
                                    <button class="add" mat-flat-button type="button" [color]="'primary'"
                                        (click)="add({description:'',id:''})" style="float: right;">
                                        <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                                    </button>
                                </div>

                                <div class="ml-12 grid grid-cols-12 gap-x-1 mt-15">
                                    <!-- Columns -->
                                    <div class="col-span-5 font-medium text-md text-secondary">{{
                                        t('group.details.subGroupName') }}</div>
                                    <div class="col-span-2 font-medium text-md text-secondary"></div>
                                    <!-- Divider -->
                                    <div class="col-span-12 my-4 border-b"></div>

                                    <!-- Item -->
                                    <ng-container formArrayName="subGroupItems"
                                        *ngFor="let item of subGroupItems.controls;let i = index;">
                                        <div class="col-span-6 text-lg font-medium" [formGroupName]="i">
                                            <mat-form-field class="w-full">
                                                <input matInput formControlName="description"
                                                    placeholder="{{ t('group.details.subGroupName') }}" type="text">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-span-6 text-lg font-medium" [formGroupName]="i">
                                            <button class="fuse-mat-button-rounded ml-1 text-on-warn-100"
                                                mat-icon-button [color]="'warn'" (click)="deleteSubGroup(item,i)">
                                                <mat-icon matPrefix class="hidden sm:flex icon-size-5"
                                                    [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                                            </button>
                                        </div>
                                        <!-- Divider -->
                                        <div class="col-span-12 my-4 border-b"></div>
                                    </ng-container>
                                </div>
                            </form>
                        </div>
                    </form>
                </div>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>
</div>