<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden bg-card dark:bg-transparent" *transloco="let t;">
    <mat-drawer-container class="flex-auto h-full bg-card dark:bg-transparent" (backdropClick)="onBackdropClicked()">

        <!-- Drawer -->
        <mat-drawer class="w-full md:w-160 dark:bg-gray-900" [mode]="drawerMode" [opened]="false" [position]="'end'"
            [disableClose]="true" #matDrawer>
            <router-outlet></router-outlet>
        </mat-drawer>

        <mat-drawer-content class="flex flex-col">

            <div class="flex-auto">
                <!-- Header -->
                <div
                    class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
                    <!-- Loader -->
                    <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
                        <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
                    </div>
                    <!-- Title -->
                    <div>
                        <div class="text-4xl font-extrabold tracking-tight leading-none">{{ t('users.title') }}</div>
                        <div class="ml-0.5 font-medium text-secondary">
                            {{ t('text.total.record') }}: {{usersCount}}
                        </div>
                    </div>
                    <!-- Actions -->
                    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
                        <!-- Search -->
                        <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-50">
                            <mat-icon matPrefix class="icon-size-5" [svgIcon]="'heroicons_solid:search'"></mat-icon>
                            <input matInput [autocomplete]="'off'" placeholder="{{ t('input.search') }}">
                        </mat-form-field>
                        <!--Add product button -->
                        <button class="ml-4" mat-flat-button [color]="'primary'" (click)="createUser()">
                            <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                            <span class="ml-2 mr-1">{{ t('button.add') }}</span>
                        </button>
                    </div>
                </div>
                <!-- Main -->

                <!-- Table wrapper -->
                <div class="relative">

                    <!-- Table -->
                    <table class="w-full min-w-320 table-fixed bg-transparent"
                        [ngClass]="{'pointer-events-none': isLoading}" mat-table matSort [matSortActive]="'name'"
                        [matSortDisableClear]="true" [matSortDirection]="'asc'" [multiTemplateDataRows]="true"
                        [dataSource]="users$" [trackBy]="trackByFn">

                        <ng-container matColumnDef="name">
                            <th class="bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell *matHeaderCellDef
                                mat-sort-header>{{ t('users.name') }}</th>
                            <td class="pr-8 truncate" mat-cell *matCellDef="let row">
                                {{row?.name}}
                            </td>
                        </ng-container>

                        <!-- User Name -->
                        <ng-container matColumnDef="username">
                            <th class="bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell *matHeaderCellDef
                                mat-sort-header>
                                {{ t('users.userName') }}
                            </th>
                            <td class="pr-8 truncate" mat-cell *matCellDef="let row">
                                {{row.username}}
                            </td>
                        </ng-container>

                        <!-- Name -->
                        <ng-container matColumnDef="email">
                            <th class="bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell *matHeaderCellDef
                                mat-sort-header disableClear>
                                {{ t('users.email') }}
                            </th>
                            <td class="pr-8 truncate" mat-cell *matCellDef="let row">
                                {{row.email}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="website">
                            <th class="bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell *matHeaderCellDef
                                mat-sort-header disableClear>
                                {{ t('users.website') }}
                            </th>
                            <td class="pr-8 truncate" mat-cell *matCellDef="let row">
                                {{row.website}}
                            </td>
                        </ng-container>

                        <!-- email -->
                        <ng-container matColumnDef="detail">
                            <th class="bg-gray-50 w-60 dark:bg-black dark:bg-opacity-5" mat-header-cell
                                *matHeaderCellDef mat-sort-header disableClear>
                                #
                            </th>
                            <td class="pr-8 truncate" mat-cell *matCellDef="let row">
                                <button class="fuse-mat-button-rounded" (click)="openUser(row)" mat-icon-button
                                    [color]="'primary'">
                                    <mat-icon matPrefix class="hidden sm:flex icon-size-5"
                                        [svgIcon]="'heroicons_outline:pencil-alt'"></mat-icon>
                                </button>
                                <button class="fuse-mat-button-rounded ml-1 text-on-warn-100" (click)="deleteUser(row)"
                                    mat-icon-button [color]="'warn'">
                                    <mat-icon matPrefix class="hidden sm:flex icon-size-5"
                                        [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                                </button>
                            </td>
                        </ng-container>
                        <tr class="shadow" mat-header-row *matHeaderRowDef="usersTableColumns; sticky: true">
                        </tr>
                        <tr class="h-18 hover:bg-gray-100 dark:hover:bg-hover" mat-row
                            *matRowDef="let i = dataIndex; let user; columns: usersTableColumns;" [class]="setStyle(i)">
                        </tr>
                    </table>
                    <mat-paginator #paginator
                        class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                        [ngClass]="{'pointer-events-none': isLoading}" [length]="totalSize$"
                        (page)="getServerData($event)" [pageIndex]="currentPage" [pageSizeOptions]="[5, 10, 25, 100]"
                        [showFirstLastButtons]="true"></mat-paginator>

                    <ng-template #noUsers>
                        <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">{{
                            t('company.noUsers.message') }}
                        </div>
                    </ng-template>

                </div>
            </div>

        </mat-drawer-content>
    </mat-drawer-container>
</div>